{% extends "layout.html" %}
{% block background %}
<style>
  body {
      background-image: url('/static/door.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
  }
</style>
{% endblock %}
{% block nav %}
<!-- nav start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">Library Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="dropdown-item" href="{{ url_for('signup') }}">Sign up</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- nav end -->
{% endblock %}
{%block content %}
<center>
    <h1 style="color:white;" class="font-weight-bold">Welcome to the library</h1>
    <h3 style="color:white;" class="font-weight-bold">
      <br>
    You need to login in order to enter our beatiful library <br>
    Go press on the Account <br>
    And login or create a User <br>
    
     
    </h3>
    </center>

{% endblock %}